@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Edu NSW ACT Hand Pre";
    
}

.title {
    text-shadow: -2px 4px 4px rgba(10,108,214,0.58);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(223, 239, 241);
    gap: 20px   
}
.buttons {
    display: flex;
    gap: 10px;
    align-items: center;      
}

button {
    border-radius: 15px; 
}

button:hover {
     filter: brightness(1.1);
}

.clear,
.toggle,
.colorPicker,
.rainbow {
    height: 60px;
    width: 60px;
}

.pixels {
    display: flex;
    flex-direction: column;
    
}

.pixels button {
    height: 30px;
    padding: 0 10px;
}

.header {
    font-size: 48px;
    margin-top: 20px;
    display: flex;
    gap: 20px;  
    
}

.board {
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;  
    
    
    
}

.row {
    display: flex;
    flex-grow: 1;
    -webkit-user-drag: none;
    
    

}

.tile {
    border: 1px solid rgb(69, 69, 69);
    flex-grow: 1;
    text-align: center;
    background-color: whitesmoke;
}

.rainbow-active {
  background: linear-gradient(to right, 
    rgb(200, 190, 255) 0%, rgb(222, 168, 248) 10%, rgb(168, 222, 255) 30%,
    rgb(189, 250, 205) 42%, rgb(243, 250, 189) 58%, rgb(250, 227, 189) 70%,
    rgb(248, 172, 171) 95%, rgb(254, 170, 212) 100%);
}

/* .rainbow-active:hover {
  filter: brightness(0.9);
} */


